*{
    border: auto;
    padding: auto;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 18px;
}
body{
    height: 100vh;
overflow: hidden;
padding: 1rem;
display: grid;
align-items: center;
justify-content: center;
background-color: rgb(255, 253, 253);
}


.container{
    padding: 0.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    flex-direction: column;
    max-width: 600px;
    background-color: rgba(255, 255, 255, 0.281);
    box-shadow: 14px 14px 28px  rgba(5, 5, 5, 0.1),
     -14px -14px 18px  rgba(236, 191, 236, 0.2);

}
.function{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.7rem;
    width: 100%;
    height: 60vh;
   }
.function span {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(172, 41, 172);
    box-shadow: 3px 3px 10px #e0e0e0 , 
    -3px -3px 10px #ffff, -3px -3px 10px #e0e0e0 , 
    3px 3px 10px #ffff ;

}

.equal{
    grid-column:  span 2 ;
    box-shadow: 6px 6px 20px #e0e0e0 , 
    -6px -6px 20px #ffff, -6px -6px 20px #e0e0e0 , 
    6px 6px 20px #ffff ;
    background: rgb(172, 41, 172) !important;
    color: #ffff !important;
    font-size: 2rem;
}


.his{
    background: black !important;
    color: #ffff !important;

}
input{
    width: 100%;
    font-size: 45px;
    text-align: right;
    outline:  none;
    background: black;
    border: none;
    cursor: pointer;
    padding: none;
    height: 10vh;
    color: #ffff;
    text-shadow: 1px 3px 2px rgb(253, 253, 253);

    
}

